*,*::before,*::after{
    box-sizing: border-box;
}
:root{
    --main-color : #000;
    --sec-color :  orange;
}
body{
   margin: 0;
   padding: 0;
}
.navBar{
    background-color: var(--main-color);
}
.navBar h1{
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
.navBar span,.active,.navBar a:hover{color: var(--sec-color);}
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.navBar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin-left: 3em;
    text-transform: capitalize;
}

#hero{
    background-color: var(--sec-color);
    height: 35em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero h1{
    font-size: 3em;
    line-height: 0.5;
    text-transform: capitalize;
}
#hero p{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
#hero a{
    padding: 1em;
    display: inline-block;
    background-color: var(--main-color);
    
}
#hero a:hover{
    opacity: .8;
}
#about{
    margin-top: 2em;
}
#about .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.section-title{
    color: var(--main-color);
    border-bottom: 1em;
}
.section-title h1{
   display: inline-block;
   padding-bottom: .2em;
   border-bottom: 3px solid var(--sec-color);
   font-size: 25px;
}
#about img{
    height: 30em;
}